.resultado {
  text-align: center;
  margin: 2rem auto; 
  background-color: white;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.resultado-tinta {
  display: flex;
  padding: 2rem 0rem;
}

.resultado-parede {
  display: flex;
  text-align: center;
  margin: 2rem 2rem 0rem 2rem;
  padding: 2rem;
  width: fit-content;
  justify-content: center;
}

.resultado-item {
  width: 17rem;
  padding: 20px;
}

.resultado-item label {
  display: block;
  padding: 10px 0px;
}

.textarea{
    display: block;
    text-align: left;
}

.resultado-title {
  font-weight: 600;
  padding: 20px 0px 30px 0px;
}

.resultado-total {
  display: block;
  padding-bottom: 2rem;
}

.resultado-total-item {
  padding: 10px;
}
