.esquadrias {
  display: flex;
  justify-content: space-between;
}

.esquadria-item {
  display: flex;
  padding-top: 20px;
}

.medida-text {
    padding-top: 2px;
    margin-right: 10px;
  }
